In [ ]:
#pip install pymongo

In [1]:
import pymongo

## Establishing a Connection

In [6]:
from pymongo import MongoClient 
client = MongoClient()
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

## Creating Database
MongoDB will create the database and collections, if they do not exist.
MongoDB waits until you have created a collection (table), with at least one document (record/rows) 
before it actually creates the database (and collection).

In [3]:
mydb = client["Cars"]

## Creating Collection

In [4]:
mycol = mydb["Inventory"]

## Inserting Document
Every insert_one() method returns a InsertOneResult object, which has a property, inserted_id, 
that holds the id of the inserted document.

If you do not specify an _id field, then MongoDB will add one for you and assign a unique id for each document.

#### Insert One

In [5]:
mydict = { "name": "BMW", "price": "Rs.3Cr" }
x = mycol.insert_one(mydict)
print(x.inserted_id)

606f82ee5acf8b2e5800b4c1

#### Insert Many

In [7]:
mylist = [
  { "name": "Civic", "price": "Rs.2Cr"},
  { "name": "Land Cruiser", "price": "Rs.5Cr"},
  { "name": "Audi", "price": "Rs.8Cr"},
  { "name": "Range Rover", "price": "Rs.5Cr"},
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('606f84015acf8b2e5800b4c3'), ObjectId('606f84015acf8b2e5800b4c4'), ObjectId('606f84015acf8b2e5800b4c5'), ObjectId('606f84015acf8b2e5800b4c6')]

## DATABASE CREATED!!!

In [8]:
print(client.list_database_names())

['Cars', 'admin', 'config', 'local']

## COLLECTION CREATED!!!

In [10]:
print(mydb.list_collection_names())

['Inventory']

## SHOW RECORDS!!!

In [17]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('606f82ee5acf8b2e5800b4c1'), 'name': 'BMW', 'price': 'Rs.3Cr'}
{'_id': ObjectId('606f84015acf8b2e5800b4c3'), 'name': 'Civic', 'price': 'Rs.2Cr'}
{'_id': ObjectId('606f84015acf8b2e5800b4c4'), 'name': 'Land Cruiser', 'price': 'Rs.5Cr'}
{'_id': ObjectId('606f84015acf8b2e5800b4c5'), 'name': 'Audi', 'price': 'Rs.8Cr'}
{'_id': ObjectId('606f84015acf8b2e5800b4c6'), 'name': 'Range Rover', 'price': 'Rs.5Cr'}

## Update Records
If the query finds more than one record, only the first occurrence is updated.
The second parameter is an object defining the new values of the document.

In [19]:
myquery = { "price": "Rs.5Cr" }
newValues = { "$set": { "price": "Rs.10Cr" } }   #The $set operator replaces the value of a field with the specified value 
                                                #If the field does not exist, it will add a new field with the specified value

mycol.update_one(myquery, newValues)

for x in mycol.find():
  print(x)

{'_id': ObjectId('606f82ee5acf8b2e5800b4c1'), 'name': 'BMW', 'price': 'Rs.3Cr'}
{'_id': ObjectId('606f84015acf8b2e5800b4c3'), 'name': 'Civic', 'price': 'Rs.2Cr'}
{'_id': ObjectId('606f84015acf8b2e5800b4c4'), 'name': 'Land Cruiser', 'price': 'Rs.10Cr'}
{'_id': ObjectId('606f84015acf8b2e5800b4c5'), 'name': 'Audi', 'price': 'Rs.8Cr'}
{'_id': ObjectId('606f84015acf8b2e5800b4c6'), 'name': 'Range Rover', 'price': 'Rs.5Cr'}

## Delete Records
If the field does not exist, $set will add a new field with the specified value

In [20]:
delquery = { "price": "Rs.10Cr" }

mycol.delete_one(delquery)

for x in mycol.find():
  print(x)

{'_id': ObjectId('606f82ee5acf8b2e5800b4c1'), 'name': 'BMW', 'price': 'Rs.3Cr'}
{'_id': ObjectId('606f84015acf8b2e5800b4c3'), 'name': 'Civic', 'price': 'Rs.2Cr'}
{'_id': ObjectId('606f84015acf8b2e5800b4c5'), 'name': 'Audi', 'price': 'Rs.8Cr'}
{'_id': ObjectId('606f84015acf8b2e5800b4c6'), 'name': 'Range Rover', 'price': 'Rs.5Cr'}